<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <%- include('../layout/head.ejs'); %>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
    </style>
    <title>Document</title>
</head>
<body>

    <!-- Header Section -->
    <%- include('../layout/header.ejs') %> 

    <main>
        <section>
            <div class="container-lg py-3">
                <div class="row mb-2">
                    <header class="d-flex justify-content-center mb-lg-4">
                        <h1 class="text-primary fw-bold d-inline-block"><span class="text-dark"> Products </span></h1>
                    </header>
                </div>
                <div class="row mb-2">
                    <% products.forEach(element => { %>
                        <div class="col-lg-6 col-12">
                            <div class="card shadow mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="<%= element.thumbnail %>" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= element.title %></h5>
                                            <h3 class="mb-0 fs-6"><%= element.price %> </h3></strong>
                                            <p class="card-text"><%= element.description %></p>
                                            <p class="card-text"><small class="text-muted"><%= element.category %></small></p>
                                            <a href="/product/<%=element.id %>" class="stretched-link">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </main>
    
    <!-- Footer Section -->
    <%- include('../layout/footer.ejs'); %>
    
    <!-- Script File -->
    <%- include('../layout/script.ejs'); %>
</body>
</html>